@import "~bulma/sass/utilities/all.sass";
:host {
  .team-box {
    cursor: pointer;
    transition: background-color 500ms;
    background-color: $grey;
    .title {
      color: $white;
    }
    &:hover,
    &.winner {
      background-color: $primary;
    }
    &.looser {
      background-color: $grey-light;
      cursor: not-allowed;
    }
  }
}
