<section class="section">
  <div class="container">
    <div class="box" *ngFor="let battle of battles">
      <h1 class="title">{{battle.roundType}}</h1>
      <div class="container">
        <div class="columns has-text-centered" *ngFor="let match of battle.matches">
          <div class="column is-3">
            <div class="box" *ngFor="let team of match.homeTeams">
              <h1 class="title">{{team.name}}</h1>
            </div>
          </div>
          <div class="column is-6">
            <h1 *ngFor="let team of match.homeTeams" class="title has-text-danger p-4">VS</h1>
          </div>
          <div class="column is-3">
            <div class="box" *ngFor="let team of match.awayTeams">
              <h1 class="title">{{team.name}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>