<header class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Summoners Rift</h1>
      <h2 class="subtitle">
        The challenge of lifes: end the endless conflicts in Valoran
      </h2>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<app-alert-notification 
  *ngIf="notification.show" 
  (onClose)="onCloseAlertNotification()"
  [text]="notification.text"
  [type]="notification.notificationType"
>
</app-alert-notification>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Created by <b>Mateus da Silveira Costa.</b> See the repository in 
      <a href="https://github.com/MateusSilveira98/FrontendChallenge" target="_blank">GitHub.</a>
    </p>
  </div>
</footer>